
*.pdf
*.png
*.html
*/ltximg/
*.elc
elpa/
workspace/
tutorial/
straight/
transient/
auto-save-list/
data/
tmp/
recentf
projects
projectile.cache
projectile-bookmarks.eld
eln-cache/
eclipse.jdt.ls/
.cache/
.local/
.lsp-session-v1